web:
    port: 8888
    host: 'http://localhost:8888'
    api_port: 8887
    api_host: 'http://localhost:8887'
    debug: true

db:
    dsn: 'dbname=ykill user=ykill'
    stomp_username: null
    stomp_password: null

# vim: set et ft=yaml:
