<!DOCTYPE html>
<html>
<head>
	<title>u r ded</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Metrophobic">
	{% block css %}{% end %}
	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
	<script>
		window.ykill = {
			'api_host': '{{ api_host }}',
		};
	</script>
	<script src="/static/js/common.js"></script>
	{% block js %}{% end %}
</head>
<body>
	<div id="wrapper">
		<div id="topbar">
			<div id="title"></div>
			<div id="nav">
			</div>
		</div>

		{% block main %}{% end %}
	</div>
</body>
</html>
