<!DOCTYPE html>
<html>
<head>
	<title>whelp.gg</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Metrophobic">
	{% block css %}{% end %}
	<link rel="stylesheet" type="text/css" href="/static/css/clippy.css">
	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
	<script>
		window.ykill = {
			'api_host': '{{ api_host }}',
		};
	</script>
	<script src="/static/js/common.js"></script>
	{% block js %}{% end %}
</head>
<body>
	<div id="topbar">
		<h1><a href="/">whelp.gg</a></h1>
		<div id="nav">
		</div>
		<form method="get" action="/search">
			<input type="search" name="q">
			<input type="submit" value="search">
		</form>
	</div>
	<div id="wrapper">
		{% block main %}{% end %}
	</div>
	<footer>
		in the game of moons, you can't win, but you also can't die
	</footer>
	<script src="//code.jquery.com/jquery-1.7.js"></script>
	<script src="/static/js/clippy.js"></script>
	<script>
		clippy.load('Clippy', function(agent) {
			agent.show();
		});
		jQuery.noConflict();
	</script>
</body>
</html>
