{% extends "base.html" %}

{% block js %}
	<script src="/static/js/battle_report.js"></script>
{% end %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/battle_report.css" />
{% end %}

{% block main %}

<h2 id="meta"></h2>

<div class="column">
	<table id="faction1_summary" class="summary">
		<caption>faction 1</caption>
	</table>
	<div class="headers">
		<div class="cost">cost (millions)</div>
		<div class="damage">damage</div>
	</div>
	<div id="faction1" class="faction"></div>
</div>
<div class="column">
	<table id="faction2_summary" class="summary">
		<caption>faction 2</caption>
	</table>
	<div class="headers">
		<div class="cost">cost (millions)</div>
		<div class="damage">damage</div>
	</div>
	<div id="faction2" class="faction"></div>
</div>
<div id="faction3" class="faction">
	<div class="heading">neutrals</div>
</div>

<img src="/static/img/loading.gif" alt="loading" id="loading">

{% end %}
