{% extends "base.html" %}

{% block js %}
	<script src="/static/js/battle_report.js"></script>
{% end %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/battle_report.css" />
{% end %}

{% block main %}

<div class="column">
	<table id="faction1" class="faction">
		<caption>faction 1</caption>
	</table>
</div>
<div class="column">
	<table id="faction2" class="faction">
		<caption>faction 2</caption>
	</table>
</div>
<table id="faction3" class="faction">
	<caption>neutrals</caption>
</table>

{% end %}
