{% extends "base.html" %}

{% block main %}

<div class="kill_list">
	{% for kill in kills %}
		<a href="/kill/{{ kill['killID'] }}">
			{{ kill['killTime'] }}
			{{ kill['solarSystemID'] }}
			<img src="//image.eveonline.com/Type/{{ kill['victim']['shipTypeID'] }}_64.png">
			<img src="//image.eveonline.com/Character/{{ kill['victim']['characterID'] }}_64.jpg">
			<img src="//image.eveonline.com/Corporation/{{ kill['victim']['corporationID'] }}_64.png">
			<img src="//image.eveonline.com/Alliance/{{ kill['victim']['allianceID'] }}_64.png">
			{{ kill['victim']['characterName'] }}
			{{ kill['victim']['corporationName'] }}
			{{ kill['victim']['allianceName'] }}
			{% for attacker in kill['attackers'] %}
				{% if attacker['finalBlow'] %}
					{% set killer = attacker %}
					{% break %}
				{% end %}
			{% end %}
			{{ killer['characterName'] }}
			{{ killer['corporationName'] }}
			{{ killer['allianceName'] }}
		</a>
	{% end %}
</div>

{% end %}
