{% extends "base.html" %}

{% block js %}
	<script src="/static/js/kill_list.js"></script>
{% end %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/kill_list.css" />
{% end %}

{% block main %}

<h2 id="entity_name"></h2>
<table id="stats"></table>
<div class="clear"></div>

<div id="kills">
	<div class="row header">
		<div>time</div>
		<div>system</div>
		<div></div>
		<div>victim</div>
		<div></div>
		<div>killer(s)</div>
		<div>value</div>
	</div>
</div>

<div id="pages">
	<div class="clear"></div>
</div>

<img src="/static/img/loading.gif" alt="loading" id="loading">

{% end %}
