{% extends "base.html" %}

{% block js %}
	<script src="/static/js/kill_list.js"></script>
{% end %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/kill_list.css" />
{% end %}

{% block main %}

<table id="kills">
	<tr>
		<th class="time">time</th>
		<th class="system">system</th>
		<th class="victim_portrait"></th>
		<th class="victim">victim</th>
		<th class="killer_portrait"></th>
		<th class="killer">killer(s)</th>
		<th class="value">value</th>
	</tr>
</table>

{% end %}
